@import url("https://fonts.googleapis.com/css?family=EB+Garamond:600|Roboto+Condensed:400,700");

@media screen {
  *,
  *:after,
  *:before {
    //-webkit-box-sizing: border-box;
    //-moz-box-sizing: border-box;
    //box-sizing: border-box;
  }
}

html {
  font-family: Roboto Condensed;
  font-size: 62.5%;
} /*base sizee*/

body {
  font-size: 1.4rem;
  overflow: hidden;
} /* =14px all type sizes are relative to the base size*/

main {
  position: relative;
  top: 48px;
  height: calc(100vh - 48px);
  overflow-y: scroll;
}

@keyframes spin {
  0% {
    transform: rotateZ(1080deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes appear-scalein {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes errorSlideIn {
  0% {
    opacity: 0;
    transform: translateX(30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes viewerSlideIn {
  0% {
    opacity: 0.5;
    transform: translateY(3%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes errorSlideOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(30%);
  }
}
