@font-face {
  font-family: "EB Garamond";
  src: url("EBGaramond-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "EB Garamond";
  src: url("EBGaramond-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "EB Garamond";
  src: url("EBGaramond-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@media screen {
  *,
  *:after,
  *:before {
    //-webkit-box-sizing: border-box;
    //-moz-box-sizing: border-box;
    //box-sizing: border-box;
  }
}

html {
  font-family: Roboto Condensed;
  font-size: 62.5%;
} /*base sizee*/

body {
  font-size: 1.4rem;
  overflow:hidden;
} /* =14px all type sizes are relative to the base size*/

main{
  position: relative;
  top:48px;
  height:calc(100vh - 48px);
  overflow-y:scroll;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes appear-scalein {
  0% {
    opacity: 0;
    transform:scale(0.3);
  }
  100% {
    opacity: 1;
    transform:scale(1);
  }
}