.navbar {
  display: flex;
  color: white;
  padding: 10px;
  background: #252627;
  justify-content: flex-end;
}

.title{
  margin-right: auto;
}

.nav-group>a{
  color:white;
  text-decoration: none;
  margin:8px;
}