.search-group {
  -webkit-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 70%;
  height: 300px;
  margin: 15px auto;
  position: absolute;
  top: 25%;
  left: 0;
  will-change: top;
  right: 0; }

.form-group {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center; }

.search-field {
  height: 20px;
  padding: 5px 10px;
  width: 70%;
  margin: 0;
  background-color: whitesmoke;
  border: 2px solid white;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.205), -2px 2px 5px rgba(0, 0, 0, 0.171);
  border-radius: 5px;
  color: black;
  outline: none;
  border: 2px solid white; }
  .search-field:focus {
    background-color: white; }

.search-icon {
  margin: 15px auto;
  width: 128px;
  overflow: auto;
  will-change: height,width; }

.submit-icon {
  margin: auto;
  height: 20px;
  padding: 5px; }

.search-button {
  color: black;
  background-color: white;
  font-weight: bold;
  justify-content: center;
  align-content: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.171);
  padding: 5px;
  position: relative;
  left: -5px;
  border: 2px solid white;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  outline: none; }
  .search-button:active {
    background-color: whitesmoke; }

.search-small {
  top: 0; }
  .search-small .search-icon {
    -webkit-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    height: 0;
    width: 0;
    margin: 0; }

.cls-1 {
  fill: none;
  stroke: #bdbdbd;
  stroke-width: 15px;
}

.cls-2{
  fill: #eaeaea;
}

#cards {
  display: block;
  position: relative;
  margin: 0 auto;
  top: 65px;
  width: 930px; }

.column {
  flex: 1;
  display: block; }

.card-container {
  overflow: hidden;
  width: 100%;
  height: 100%; }

.card {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.26);
  background-repeat: no-repeat;
  border: 3px solid #fcfcfc;
  box-sizing: content-box;
  will-change: scale, transform, opacity, top,left,right,bottom,width,height;
  transition: all 0.2s cubic-bezier(0.18, 1.01, 0.46, 0.98) !important; }

.card:nth-child(1) {
  background-color: #867a56; }

.card:nth-child(2) {
  background-color: #75a986; }

.card:nth-child(3) {
  background-color: #92735d; }

.card:nth-child(4) {
  background-color: #8e4f92; }

.card:nth-child(5) {
  background-color: #518171; }

.card:nth-child(6) {
  background-color: #619b55; }

.card:nth-child(7) {
  background-color: #596091; }

.card:nth-child(8) {
  background-color: #afb276; }

.card:nth-child(9) {
  background-color: #577985; }

.card:nth-child(10) {
  background-color: #519075; }

.card:nth-child(11) {
  background-color: #988152; }

.card:nth-child(12) {
  background-color: #4f826e; }

.card:nth-child(13) {
  background-color: #4d8976; }

.card:nth-child(14) {
  background-color: #8f7eb4; }

.card:nth-child(15) {
  background-color: #b1779c; }

.card:nth-child(16) {
  background-color: #b48779; }

.card:nth-child(17) {
  background-color: #7878b5; }

.card:nth-child(18) {
  background-color: #948c61; }

.card:nth-child(19) {
  background-color: #698255; }

.card:nth-child(20) {
  background-color: #a26768; }

.card:nth-child(21) {
  background-color: #8a6dab; }

.card:nth-child(22) {
  background-color: #9d6b5c; }

.card:nth-child(23) {
  background-color: #5b8f8e; }

.card:nth-child(24) {
  background-color: #905178; }

.card:nth-child(25) {
  background-color: #795483; }

.card:nth-child(26) {
  background-color: #549272; }

.card:nth-child(27) {
  background-color: #9e6561; }

.card:nth-child(28) {
  background-color: #74b47a; }

.card:nth-child(29) {
  background-color: #805278; }

.card:nth-child(30) {
  background-color: #8d9155; }

.card:nth-child(31) {
  background-color: #8f724d; }

.card:nth-child(32) {
  background-color: #51758a; }

.card:nth-child(33) {
  background-color: #8f4d53; }

.card:nth-child(34) {
  background-color: #a46eaf; }

.card:nth-child(35) {
  background-color: #b17c8c; }

.card:nth-child(36) {
  background-color: #5da292; }

.card:nth-child(37) {
  background-color: #9d5c94; }

.card:nth-child(38) {
  background-color: #a58f5f; }

.card:nth-child(39) {
  background-color: #8f5ca3; }

.card:nth-child(40) {
  background-color: #7778b1; }

.card:nth-child(41) {
  background-color: #67a274; }

.card:nth-child(42) {
  background-color: #947aae; }

.card:nth-child(43) {
  background-color: #9b5975; }

.card:nth-child(44) {
  background-color: #7a5b8b; }

.card:nth-child(45) {
  background-color: #548c79; }

.card:nth-child(46) {
  background-color: #529852; }

.card:nth-child(47) {
  background-color: #706fae; }

.card:nth-child(48) {
  background-color: #669f56; }

.card:nth-child(49) {
  background-color: #b4937e; }

.card:nth-child(50) {
  background-color: #66a376; }

.card:nth-child(51) {
  background-color: #935391; }

.card:nth-child(52) {
  background-color: #559156; }

.card:nth-child(53) {
  background-color: #5d8f56; }

.card:nth-child(54) {
  background-color: #ad7190; }

.card:nth-child(55) {
  background-color: #ad71a2; }

.card:nth-child(56) {
  background-color: #7f8a4c; }

.card:nth-child(57) {
  background-color: #5d8e6f; }

.card:nth-child(58) {
  background-color: #6e7caa; }

.card:nth-child(59) {
  background-color: #7c9cb6; }

.card:nth-child(60) {
  background-color: #7b5492; }

.card:nth-child(61) {
  background-color: #59518a; }

.card:nth-child(62) {
  background-color: #8474aa; }

.card:nth-child(63) {
  background-color: #71ad98; }

.card:nth-child(64) {
  background-color: #965a96; }

.card:nth-child(65) {
  background-color: #5979a1; }

.card:nth-child(66) {
  background-color: #b27074; }

.card:nth-child(67) {
  background-color: #537d93; }

.card:nth-child(68) {
  background-color: #a161a8; }

.card:nth-child(69) {
  background-color: #93a474; }

.card:nth-child(70) {
  background-color: #6d5b9a; }

.card:nth-child(71) {
  background-color: #7972b1; }

.card:nth-child(72) {
  background-color: #b4747c; }

.card:nth-child(73) {
  background-color: #94b082; }

.card:nth-child(74) {
  background-color: #6a689c; }

.card:nth-child(75) {
  background-color: #7496a4; }

.card:nth-child(76) {
  background-color: #526c80; }

.card:nth-child(77) {
  background-color: #5f874f; }

.card:nth-child(78) {
  background-color: #5b839f; }

.card:nth-child(79) {
  background-color: #6e68a1; }

.card:nth-child(80) {
  background-color: #a8619d; }

.card:nth-child(81) {
  background-color: #6391ab; }

.card:nth-child(82) {
  background-color: #a0a569; }

.card:nth-child(83) {
  background-color: #a65e7a; }

.card:nth-child(84) {
  background-color: #638397; }

.card:nth-child(85) {
  background-color: #51855e; }

.card:nth-child(86) {
  background-color: #9fac77; }

.card:nth-child(87) {
  background-color: #9a735b; }

.card:nth-child(88) {
  background-color: #76a970; }

.card:nth-child(89) {
  background-color: #7a94b8; }

.card:nth-child(90) {
  background-color: #968c5a; }

.card:nth-child(91) {
  background-color: #8a684c; }

.card:nth-child(92) {
  background-color: #68a671; }

.card:nth-child(93) {
  background-color: #a4a370; }

.card:nth-child(94) {
  background-color: #638e9c; }

.card:nth-child(95) {
  background-color: #8e525a; }

.card:nth-child(96) {
  background-color: #8d674e; }

.card:nth-child(97) {
  background-color: #a46a7b; }

.card:nth-child(98) {
  background-color: #59889b; }

.card:nth-child(99) {
  background-color: #7979a9; }

.card:nth-child(100) {
  background-color: #a5ad67; }

.card-img {
  height: 100%;
  background-blend-mode: overlay;
  background-size: cover;
  object-fit: cover;
  padding: 7px;
  box-sizing: border-box; }

.card:hover {
  transform: scale(1.02);
  transition: transform 0.4s cubic-bezier(0.18, 1.01, 0.46, 0.98); }

.headline {
  display: flex;
  justify-content: space-between; }

.card-title {
  align-self: center;
  color: white;
  font-size: 12px;
  margin: 0;
  width: 65%; }

.star-svg {
  width: 12px; }

.halfstar-svg {
  width: 12px; }

.star {
  fill: #f9ee8b; }

.halfstar-back {
  fill: #f9ee8b; }

.halfstar-front {
  fill: #707070; }

.stars {
  display: inline; }

.bottomline {
  width: 100%;
  bottom: 10px;
  position: absolute; }

.card-expanded {
  z-index: 1;
  position: fixed !important;
  left: 3.7vw !important;
  right: 0 !important;
  top: 2vw !important;
  bottom: 0 !important;
  width: 90vw !important;
  height: 90vh !important;
  border: 5px solid #f0f0f0; }
  .card-expanded .card-container {
    overflow: hidden; }
    .card-expanded .card-container .corner1 {
      width: 25vw;
      height: 100%;
      background: lightgray;
      z-index: 1;
      position: absolute;
      top: 0;
      border-right: 5px solid #f0f0f0; }
    .card-expanded .card-container .counter {
      border-bottom: solid 2vw white;
      border-right: solid 2vw white;
      border-left: solid 2vw transparent;
      border-top: solid 2vw transparent; }
    .card-expanded .card-container .card-title {
      padding-top: 2vw;
      text-align: center;
      color: black;
      font-size: 1.3em;
      font-weight: bold;
      width: 23vw; }
    .card-expanded .card-container .openclosed {
      color: black;
      font-size: 1.2em;
      padding: 0.5vw; }
    .card-expanded .card-container .stars {
      padding: 1vw; }
      .card-expanded .card-container .stars .star-svg {
        width: 20px; }
      .card-expanded .card-container .stars .halfstar-svg {
        width: 20px; }
  .card-expanded:hover {
    transform: none; }
  .card-expanded * {
    z-index: 2; }

.counter {
  display: inline-block;
  vertical-align: middle;
  width: 0px;
  height: 0px;
  border-bottom: solid 18px white;
  border-right: solid 18px white;
  border-left: solid 18px transparent;
  border-top: solid 18px transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-6px, 11px); }
  .counter span {
    position: absolute;
    transform: translate(2px, -5px);
    font-weight: bold; }

.openclosed {
  color: white;
  font-size: 14px; }

.hide-animation {
  animation: disappear 0.1s linear;
  animation-fill-mode: forwards; }

.load-animation {
  animation: appear-scalein 0.8s cubic-bezier(0.18, 1.01, 0.46, 0.98); }

.img-load-animation {
  animation: appear 0.8s cubic-bezier(0.18, 1.01, 0.46, 0.98); }

.preload {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; }

.preload-dots {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  display: flex;
  width: 100%;
  justify-content: center; }

.preload-dot {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.356);
  margin: 5px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms ease-out; }

.preload-animation .preload-dot:nth-child(1) {
  animation: pop1 1s ease-in infinite;
  opacity: 1; }

.preload-animation .preload-dot:nth-child(2) {
  animation: pop2 1s ease-in infinite;
  opacity: 1; }

.preload-animation .preload-dot:nth-child(3) {
  animation: pop3 1s ease-in infinite;
  opacity: 1; }

.preload-animation .preload-dot:nth-child(4) {
  animation: pop4 1s ease-in infinite;
  opacity: 1; }

@keyframes pop1 {
  0% {
    transform: scale(0.25); }
  25% {
    transform: scale(1); }
  50% {
    transform: scale(0.25); }
  75% {
    transform: scale(0); }
  100% {
    transform: scale(0); } }

@keyframes pop2 {
  0% {
    transform: scale(0); }
  25% {
    transform: scale(0.25); }
  50% {
    transform: scale(1); }
  75% {
    transform: scale(0.25); }
  100% {
    transform: scale(0); } }

@keyframes pop3 {
  0% {
    transform: scale(0); }
  25% {
    transform: scale(0); }
  50% {
    transform: scale(0.25); }
  75% {
    transform: scale(1); }
  100% {
    transform: scale(0.25); } }

@keyframes pop4 {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(0.25); }
  50% {
    transform: scale(0); }
  75% {
    transform: scale(0.25); }
  100% {
    transform: scale(1); } }

.error {
  position: absolute;
  background-color: #f1f1f1;
  width: 60%;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.226);
  left: 0;
  right: 0;
  margin: auto;
  top: 35%;
  padding: 25px;
  text-align: center;
  font-size: 1.2em;
  visibility: hidden;
  animation: none; }

.error-unhide {
  visibility: visible;
  animation: "appear 1s ease-out"; }

body {
  background: #e7e7e7;
  overflow-x: hidden; }

#home {
  position: relative;
  min-height: 85vh; }

.navbar {
  display: flex;
  color: white;
  padding: 10px;
  background: #252627;
  justify-content: flex-end;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.404); }

.title {
  margin-right: auto; }

.nav-group > a {
  color: white;
  text-decoration: none;
  margin: 8px; }

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%; }

/*base sizee*/
body {
  font-size: 1.4rem; }

/* =14px all type sizes are relative to the base size*/
@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes disappear {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes appear-scalein {
  0% {
    opacity: 0;
    transform: scale(0.3); }
  100% {
    opacity: 1;
    transform: scale(1); } }

footer {
  border-top: 3px solid #3d3d3d;
  position: relative;
  bottom: 0;
  margin-top: 100px;
  background-color: #202020; }

#copyright {
  border-top: 1px solid #181818;
  background-color: #1a1a1a;
  width: 100%;
  padding: 5px;
  text-align: center;
  color: #555555; }

@media only screen and (max-width: 767px) {
  #footer-ul {
    padding: 35px 5%; }
  .ico {
    width: 50px; } }

html {
  font-size: 100%; }

body {
  margin: 0;
  font-family: Roboto Condensed, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5; }

button:disabled {
  opacity: 0.5; }

