.search-group {
  -webkit-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 70%;
  height: 300px;
  margin: auto auto;
  position: absolute;
  top: 0%;
  left: 0;
  bottom: 0%;
  right: 0; }

.form-group {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center; }

.search-field {
  height: 20px;
  padding: 5px 10px;
  width: 70%;
  margin: 0;
  background-color: whitesmoke;
  border: 2px solid white;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.205), 0 2px 5px rgba(0, 0, 0, 0.322);
  border-radius: 5px;
  color: black;
  outline: none;
  border: 2px solid white; }
  .search-field:focus {
    background-color: white;
    border: 2px solid white;
    box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.205), 0 1px 3px rgba(0, 0, 0, 0.322); }

.search-icon {
  margin: 15px auto;
  width: 128px;
  overflow: auto; }

.submit-icon {
  margin: auto;
  height: 20px;
  padding: 5px; }

.search-button {
  color: black;
  background-color: white;
  font-weight: bold;
  justify-content: center;
  align-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.322);
  padding: 5px;
  margin-left: 10px;
  border: 2px solid white;
  border-radius: 5px;
  outline: none; }
  .search-button:active {
    background-color: whitesmoke;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.322); }

.search-small {
  top: -101%; }
  .search-small .search-icon {
    position: relative;
    z-index: -3; }

.cls-1 {
  fill: none;
  stroke: #bdbdbd;
  stroke-width: 15px;
}

.cls-2{
  fill: #eaeaea;
}

#cards {
  display: block;
  position: relative;
  margin: 10px auto;
  top: 65px;
  width: 930px; }

.column {
  flex: 1;
  display: block; }

.expanded-info {
  background-color: #111; }

.card-container {
  overflow: hidden;
  width: 100%;
  height: 100%; }

.card {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.26);
  background-repeat: no-repeat;
  border: 3px solid #fcfcfc;
  box-sizing: content-box;
  will-change: scale, transform, opacity; }

.card:nth-child(1) {
  background-color: #4c5285; }

.card:nth-child(2) {
  background-color: #80ab6d; }

.card:nth-child(3) {
  background-color: #b6779e; }

.card:nth-child(4) {
  background-color: #988b57; }

.card:nth-child(5) {
  background-color: #73a58a; }

.card:nth-child(6) {
  background-color: #80aca0; }

.card:nth-child(7) {
  background-color: #528987; }

.card:nth-child(8) {
  background-color: #907c5a; }

.card:nth-child(9) {
  background-color: #7483a4; }

.card:nth-child(10) {
  background-color: #8d4e60; }

.card:nth-child(11) {
  background-color: #579654; }

.card:nth-child(12) {
  background-color: #695f9b; }

.card:nth-child(13) {
  background-color: #ac809c; }

.card:nth-child(14) {
  background-color: #a69f64; }

.card:nth-child(15) {
  background-color: #4b867e; }

.card:nth-child(16) {
  background-color: #6b939e; }

.card:nth-child(17) {
  background-color: #b4a77e; }

.card:nth-child(18) {
  background-color: #925490; }

.card:nth-child(19) {
  background-color: #616e9e; }

.card:nth-child(20) {
  background-color: #b4b074; }

.card:nth-child(21) {
  background-color: #925d77; }

.card:nth-child(22) {
  background-color: #999d62; }

.card:nth-child(23) {
  background-color: #8e5d83; }

.card:nth-child(24) {
  background-color: #a3b677; }

.card:nth-child(25) {
  background-color: #b47e94; }

.card:nth-child(26) {
  background-color: #6f65a4; }

.card:nth-child(27) {
  background-color: #89ad71; }

.card:nth-child(28) {
  background-color: #6b90ae; }

.card:nth-child(29) {
  background-color: #a675a9; }

.card:nth-child(30) {
  background-color: #719cad; }

.card:nth-child(31) {
  background-color: #7383a5; }

.card:nth-child(32) {
  background-color: #915979; }

.card:nth-child(33) {
  background-color: #595794; }

.card:nth-child(34) {
  background-color: #a9759d; }

.card:nth-child(35) {
  background-color: #969a60; }

.card:nth-child(36) {
  background-color: #6d4f92; }

.card:nth-child(37) {
  background-color: #4c8a88; }

.card:nth-child(38) {
  background-color: #776ea0; }

.card:nth-child(39) {
  background-color: #8d824e; }

.card:nth-child(40) {
  background-color: #835da2; }

.card:nth-child(41) {
  background-color: #5d8c92; }

.card:nth-child(42) {
  background-color: #a55f9b; }

.card:nth-child(43) {
  background-color: #a39662; }

.card:nth-child(44) {
  background-color: #7779b1; }

.card:nth-child(45) {
  background-color: #a5a16f; }

.card:nth-child(46) {
  background-color: #ae6fa4; }

.card:nth-child(47) {
  background-color: #705280; }

.card:nth-child(48) {
  background-color: #6493a6; }

.card:nth-child(49) {
  background-color: #5f759b; }

.card:nth-child(50) {
  background-color: #ae8f6f; }

.card:nth-child(51) {
  background-color: #72ac8f; }

.card:nth-child(52) {
  background-color: #67ad9c; }

.card:nth-child(53) {
  background-color: #4d895b; }

.card:nth-child(54) {
  background-color: #5c8099; }

.card:nth-child(55) {
  background-color: #88597a; }

.card:nth-child(56) {
  background-color: #62a79d; }

.card:nth-child(57) {
  background-color: #7f7db0; }

.card:nth-child(58) {
  background-color: #9e617e; }

.card:nth-child(59) {
  background-color: #885968; }

.card:nth-child(60) {
  background-color: #a872b1; }

.card:nth-child(61) {
  background-color: #4e8083; }

.card:nth-child(62) {
  background-color: #546492; }

.card:nth-child(63) {
  background-color: #8b80b3; }

.card:nth-child(64) {
  background-color: #8dac77; }

.card:nth-child(65) {
  background-color: #957ab8; }

.card:nth-child(66) {
  background-color: #638c9c; }

.card:nth-child(67) {
  background-color: #836754; }

.card:nth-child(68) {
  background-color: #82556d; }

.card:nth-child(69) {
  background-color: #98a366; }

.card:nth-child(70) {
  background-color: #8e8352; }

.card:nth-child(71) {
  background-color: #63538d; }

.card:nth-child(72) {
  background-color: #876a54; }

.card:nth-child(73) {
  background-color: #a25d80; }

.card:nth-child(74) {
  background-color: #7960a4; }

.card:nth-child(75) {
  background-color: #9a77b6; }

.card:nth-child(76) {
  background-color: #71ada9; }

.card:nth-child(77) {
  background-color: #834e79; }

.card:nth-child(78) {
  background-color: #7f5c9d; }

.card:nth-child(79) {
  background-color: #548487; }

.card:nth-child(80) {
  background-color: #995c90; }

.card:nth-child(81) {
  background-color: #a0976a; }

.card:nth-child(82) {
  background-color: #9983af; }

.card:nth-child(83) {
  background-color: #818051; }

.card:nth-child(84) {
  background-color: #896652; }

.card:nth-child(85) {
  background-color: #548360; }

.card:nth-child(86) {
  background-color: #77a692; }

.card:nth-child(87) {
  background-color: #a282b0; }

.card:nth-child(88) {
  background-color: #74aa97; }

.card:nth-child(89) {
  background-color: #7997a9; }

.card:nth-child(90) {
  background-color: #6ea082; }

.card:nth-child(91) {
  background-color: #935c93; }

.card:nth-child(92) {
  background-color: #86a970; }

.card:nth-child(93) {
  background-color: #8eb181; }

.card:nth-child(94) {
  background-color: #556382; }

.card:nth-child(95) {
  background-color: #817ab3; }

.card:nth-child(96) {
  background-color: #5ca376; }

.card:nth-child(97) {
  background-color: #62a370; }

.card:nth-child(98) {
  background-color: #569550; }

.card:nth-child(99) {
  background-color: #ad7b89; }

.card:nth-child(100) {
  background-color: #9a8c60; }

.card-img {
  height: 100%;
  background-blend-mode: overlay;
  background-size: cover;
  object-fit: cover;
  padding: 7px;
  box-sizing: border-box; }

.card:hover {
  transform: scale(1.02);
  transition: transform 0.4s cubic-bezier(0.18, 1.01, 0.46, 0.98); }

.headline {
  display: flex;
  justify-content: space-between; }

.card-title {
  align-self: center;
  color: white;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  width: 65%; }

.star-svg {
  width: 12px; }

.halfstar-svg {
  width: 12px; }

.star {
  fill: #f9ee8b; }

.halfstar-back {
  fill: #f9ee8b; }

.halfstar-front {
  fill: #707070; }

.stars {
  display: inline; }

.footer {
  width: 100%;
  bottom: 10px;
  position: absolute; }

.counter {
  display: inline-block;
  vertical-align: middle;
  width: 0px;
  height: 0px;
  border-bottom: solid 18px white;
  border-right: solid 18px white;
  border-left: solid 18px transparent;
  border-top: solid 18px transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-6px, 11px); }
  .counter span {
    position: absolute;
    transform: translate(2px, -5px);
    font-weight: bold; }

.openclosed {
  color: white;
  font-size: 14px; }

.hide-animation {
  animation: disappear 0.1s linear;
  animation-fill-mode: forwards; }

.load-animation {
  animation: appear-scalein 0.8s cubic-bezier(0.18, 1.01, 0.46, 0.98); }

.img-load-animation {
  animation: appear 0.8s cubic-bezier(0.18, 1.01, 0.46, 0.98); }

.preload {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; }

.preload-dots {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  display: flex;
  width: 100%;
  justify-content: center; }

.preload-dot {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.356);
  margin: 5px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms ease-out; }

.preload-animation .preload-dot:nth-child(1) {
  animation: pop1 1s ease-in infinite;
  opacity: 1; }

.preload-animation .preload-dot:nth-child(2) {
  animation: pop2 1s ease-in infinite;
  opacity: 1; }

.preload-animation .preload-dot:nth-child(3) {
  animation: pop3 1s ease-in infinite;
  opacity: 1; }

.preload-animation .preload-dot:nth-child(4) {
  animation: pop4 1s ease-in infinite;
  opacity: 1; }

@keyframes pop1 {
  0% {
    transform: scale(0.25); }
  25% {
    transform: scale(1); }
  50% {
    transform: scale(0.25); }
  75% {
    transform: scale(0); }
  100% {
    transform: scale(0); } }

@keyframes pop2 {
  0% {
    transform: scale(0); }
  25% {
    transform: scale(0.25); }
  50% {
    transform: scale(1); }
  75% {
    transform: scale(0.25); }
  100% {
    transform: scale(0); } }

@keyframes pop3 {
  0% {
    transform: scale(0); }
  25% {
    transform: scale(0); }
  50% {
    transform: scale(0.25); }
  75% {
    transform: scale(1); }
  100% {
    transform: scale(0.25); } }

@keyframes pop4 {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(0.25); }
  50% {
    transform: scale(0); }
  75% {
    transform: scale(0.25); }
  100% {
    transform: scale(1); } }

body {
  background: #e7e7e7;
  overflow-x: hidden; }

#home {
  position: relative;
  min-height: 85vh; }

.navbar {
  display: flex;
  color: white;
  padding: 10px;
  background: #252627;
  justify-content: flex-end;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.404); }

.title {
  margin-right: auto; }

.nav-group > a {
  color: white;
  text-decoration: none;
  margin: 8px; }

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%; }

/*base sizee*/
body {
  font-size: 1.4rem; }

/* =14px all type sizes are relative to the base size*/
@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes disappear {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes appear-scalein {
  0% {
    opacity: 0;
    transform: scale(0.3); }
  100% {
    opacity: 1;
    transform: scale(1); } }

html {
  font-size: 100%; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5; }

button:disabled {
  opacity: 0.5; }

