.navbar {
  display: flex;
  color: white;
  padding: 7px;
  background: #272c31;
  filter: drop-shadow(0px 7px 6px rgba(0, 0, 0, 0.301));
  justify-content: flex-end;
}

.title{
  margin-right: auto;
}

.nav-group>a{
  color:white;
  text-decoration: none;
  margin:8px;
}