.counter {
  span {
    position: absolute;
    transform: translate(2px, -5px);
    font-weight: bold;
  }
  display: inline-block;
  vertical-align: middle;
  width: 0px;
  height: 0px;
  border-bottom: solid 18px white;
  border-right: solid 18px white;
  border-left: solid 18px transparent;
  border-top: solid 18px transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-6px, 11px);
}
