.card-container {
  width: 100%;
  height: 100%;
}

.card {
  transition:transform 0.4s cubic-bezier(0.18, 1.01, 0.46, 0.98);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.26);
  background-repeat: no-repeat;
  border: 3px solid rgb(252, 252, 252);
  box-sizing: content-box;
  will-change: scale, transform, opacity, top, left, right, bottom, width,
    height;
  //transition: all 0.2s cubic-bezier(0.18, 1.01, 0.46, 0.98) !important;
}

$s-min: 20;
$s-max: 30;
$l-min: 40;
$l-max: 60;

@for $i from 1 through 100 {
  .card:nth-child(#{$i}) {
    background-color: hsl(
      random(360),
      $s-min + random($s-max + -$s-min),
      $l-min + random($l-max + -$l-min)
    );
  }
}

.card-img {
  height: 100%;
  background-blend-mode: overlay;
  background-size: cover;
  object-fit: cover;
  padding: 7px;
  box-sizing: border-box;
  //pointer-events: none;
}

.card:hover {
  transform: scale(1.02);
  transition: none;
}

.headline {
  display: flex;
  justify-content: space-between;
}

.card-title {
  align-self: center;
  color: white;
  font-size: 12px;
  margin: 0;
  width: 65%;
}

.star-svg {
  width: 12px;
}

.halfstar-svg {
  width: 12px;
}

.star {
  fill: #f9ee8b;
}

.halfstar-back {
  fill: #f9ee8b;
}

.halfstar-front {
  fill: #707070;
}

.stars {
  display: inline;
}

.bottomline {
  width: 100%;
  bottom: 10px;
  position: absolute;
}

.expanded-part {
  display: none;
}

.card-expanded {
  z-index: 1;
  position: fixed !important;
  background-color: transparent !important;
  overflow-y: scroll;
  overflow-x: hidden;
  left: 0 !important;
  right: 0 !important;
  top: 48px !important;
  bottom: 0 !important;
  width: 100vw !important;
  min-height: calc(100vh - 48px) !important;
  padding: 0 150px;
  box-sizing: border-box;
  border: 0px solid rgb(240, 240, 240);
  box-shadow: none;
  .card-container {
    .card-img{
      padding:10px;
      position:relative;
    }
    .bottomline{
      bottom: 10px;
      width:100%;
    }
    .card-title {
      padding: 2vw;
      //text-align: center;
      color: rgb(255, 255, 255);

      font-size: 1.3em;
      font-weight: bold;
      display: inline-block;
      vertical-align: middle;
      //width: 25vw;
      height: auto;
    }
    .openclosed {
      color: rgb(255, 255, 255);
      font-size: 1.2em;
      padding: 5px 15px;
    }
    .stars {
      padding: 2vw;
      .star-svg {
        width: 20px;
      }
      .halfstar-svg {
        width: 20px;
      }
    }
    .expanded-part {
      display: block;
      width:100%;
      background:rgb(36, 36, 36);
    }
  }
  &:hover {
    transform: none;
  }
  * {
    z-index: 2;
  }
}



.openclosed {
  color: rgb(255, 255, 255);
  font-size: 14px;
}

.hide-animation {
  animation: disappear 0.1s linear;
  animation-fill-mode: forwards;
}

.load-animation {
  animation: appear-scalein 0.8s cubic-bezier(0.18, 1.01, 0.46, 0.98);
}

.img-load-animation {
  animation: appear 0.8s cubic-bezier(0.18, 1.01, 0.46, 0.98);
}
