.card-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.card {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.26);
  background-repeat: no-repeat;
  border: 3px solid rgb(252, 252, 252);
  box-sizing: content-box;
  will-change: scale, transform, opacity, top,left,right,bottom,width,height;
  transition: all 0.2s cubic-bezier(0.18, 1.01, 0.46, 0.98) !important;
}

$s-min: 20;
$s-max: 30;
$l-min: 40;
$l-max: 60;

@for $i from 1 through 100 {
  .card:nth-child(#{$i}) {
    background-color: hsl(
      random(360),
      $s-min + random($s-max + -$s-min),
      $l-min + random($l-max + -$l-min)
    );
  }
}

.card-img {
  height: 100%;
  background-blend-mode: overlay;
  background-size: cover;
  object-fit: cover;
  padding: 7px;
  box-sizing: border-box;
  //pointer-events: none;
}

.card:hover {
  transform: scale(1.02);
  transition: transform 0.4s cubic-bezier(0.18, 1.01, 0.46, 0.98);
}

.headline {
  display: flex;
  justify-content: space-between;
}

.card-title {
  align-self: center;
  color: white;
  font-size: 12px;
  margin: 0;
  width: 65%;
}

.star-svg {
  width: 12px;
}

.halfstar-svg {
  width: 12px;
}

.star {
  fill: #f9ee8b;
}

.halfstar-back {
  fill: #f9ee8b;
}

.halfstar-front {
  fill: #707070;
}

.stars {
  display: inline;
}

.bottomline {
  width: 100%;
  bottom: 10px;
  position: absolute;
}

.card-expanded {
  z-index: 1;
  position: fixed !important;
  left: 3.7vw !important;
  right: 0 !important;
  top: 2vw !important;
  bottom: 0 !important;
  width: 90vw !important;
  height: 90vh !important;
  border: 5px solid rgb(240, 240, 240);
  .card-container {
    overflow: hidden;
    .corner1 {
      width: 25vw;
      height: 100%;
      background: rgb(211, 211, 211);
      z-index: 1;
      position: absolute;
      top: 0;
      border-right: 5px solid rgb(240, 240, 240);
    }
    .counter {
      border-bottom: solid 2vw white;
      border-right: solid 2vw white;
      border-left: solid 2vw transparent;
      border-top: solid 2vw transparent;
    }
    .card-title {
      padding-top: 2vw;
      text-align: center;
      color: black;
      font-size: 1.3em;
      font-weight: bold;
      width: 23vw;
      
    }
    .openclosed {
      color: black;
      font-size: 1.2em;
      padding: 0.5vw;
    }
    .stars {
      padding: 1vw;
      .star-svg {
        width: 20px;
      }
      .halfstar-svg {
        width: 20px;
      }
    }
  }
  &:hover {
    transform: none;
  }
  * {
    z-index: 2;
  }
}

.counter {
  span {
    position: absolute;
    transform: translate(2px, -5px);
    font-weight: bold;
  }
  display: inline-block;
  vertical-align: middle;
  width: 0px;
  height: 0px;
  border-bottom: solid 18px white;
  border-right: solid 18px white;
  border-left: solid 18px transparent;
  border-top: solid 18px transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-6px, 11px);
}

.openclosed {
  color: rgb(255, 255, 255);
  font-size: 14px;
}

.hide-animation {
  animation: disappear 0.1s linear;
  animation-fill-mode: forwards;
}

.load-animation {
  animation: appear-scalein 0.8s cubic-bezier(0.18, 1.01, 0.46, 0.98);
}

.img-load-animation {
  animation: appear 0.8s cubic-bezier(0.18, 1.01, 0.46, 0.98);
}
