.expanded-info {
  background-color: #111;
}

.card-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.card {
  height: 160px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
  background-repeat: no-repeat;
  border: 3px solid rgb(47, 47, 47);
  box-sizing: content-box;
  -webkit-transition: transform 400ms cubic-bezier(0.19, 1, 0.22, 1),
    opacity 400ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 400ms cubic-bezier(0.19, 1, 0.22, 1),
    opacity 400ms cubic-bezier(0.19, 1, 0.22, 1);
  will-change: scale, transform, opacity;
}

.card-img {
  background-color: rgb(27, 27, 27);
  background-size: cover;
  object-fit: cover;
  transition: opacity 1500ms cubic-bezier(0.35, 1, 0.5, 1);
}

.card:hover {
  transform: scale(1.02);
}

.overlay {
  pointer-events: none;
  width: 100%;
  height: 100%;
  padding: 7px;
  background: linear-gradient(
    rgba(0, 0, 0, 0.93) 0%,
    rgba(0, 0, 0, 0.2) 47.14%,
    rgba(0, 0, 0, 0.74) 100%
  );

  box-sizing: border-box;
}

.headline {
  display: flex;
  justify-content: space-between;
}

.card-title {
  align-self:center;
  color: white;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  width: 65%;
}

.star-svg {
  width: 12px;
}

.halfstar-svg {
  width: 12px;
}

.star {
  fill: #f9ee8b;
}

.halfstar-back {
  fill: #f9ee8b;
}

.halfstar-front {
  fill: #707070;
}

.stars {
  display: inline;
}

.footer {
  bottom: 10px;
  position: absolute;
}

.openclosed {
  color: rgb(255, 255, 255);
  font-size: 14px;
}
