
#image {
  background-repeat: "no-repeat";
  background-color: "black";
  background-size: "cover";
  object-fit: "cover";
  border: "none";
  height: 400px;
  width: 100%;
  position: relative;
}

@media only screen and (max-width: 800px) {
  #image {
    height: 92vh;
  }
}

#gradient {
  background: linear-gradient(
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.6)
  );
  height: 100%;
  width: 100%;
}
