.preload {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.preload-dots {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  display: flex;
  width: 100%;
  justify-content: center;
}

.preload-dot {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.356);
  margin: 5px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms ease-out;
}

.preload-animation {

  @for $i from 1 through 4 {
    .preload-dot:nth-child(#{$i}) {
      animation: pop#{$i} 1s ease-in infinite;
      opacity: 1;
    }
  }
}

@keyframes pop1 {
  0% {
    transform: scale(0.25);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.25);
  }
  75% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes pop2 {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(0.25);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.25);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes pop3 {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.25);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.25);
  }
}

@keyframes pop4 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.25);
  }
  50% {
    transform: scale(0);
  }
  75% {
    transform: scale(0.25);
  }
  100% {
    transform: scale(1);
  }
}
