.auth-container {
  animation: appear 1s cubic-bezier(0.18, 1.01, 0.46, 0.98);
  position: absolute;
  width: 400px;
  height: 200px;
  margin: auto;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgb(167, 104, 133);
  border-radius: 10px;
  border: 3px white solid;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.315);

  p {
    position: absolute;
    top: 0;
    padding: 25px 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    .twitter {
      font-weight: bold;
      color: rgb(194, 194, 255);
    }
  }
}

.auth-buttons {
  position: absolute;
  bottom: 15%;
  left: 0;
  right: 0;
  margin: auto;
  width: 160px;
  button {
    margin: 0 10px;
    width: 60px;
    color: rgb(0, 0, 0);
    background-color: white;
    font-weight: bold;
    justify-content: center;
    align-content: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.171);
    padding: 5px;
    position: relative;
    left: -5px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    outline: none;
    &:active {
      background-color: rgb(245, 245, 245);
    }
  }
}

.auth-backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.644);
  z-index: 1;
}

#auth {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.auth-visible {
  display: block !important;
}
